:root {
    --background:#1c1e1f;
    --primary:#181a1b;
    --shadow:#1b1e1f;
    --dark: #121414;
    --seconardy:#ffcc33;
    --text:white;
}

body {
    background-color: var(--background);
    color:var(--text);

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
