
.contentShifts {
    margin-bottom: 0;
    margin-top: 20px;
    position: relative;
    min-width: 400px;
}

#shiftCont{
    background: linear-gradient(to right, var(--dark) 50%,var(--primary) 50%);
    background-size: 200% 100%;
    background-position:right bottom;
  
    transition:all 0.5s ease-in;
}
#shiftCont:hover {
    transform: scale(1.009, 1.009);
    box-shadow: 0 5px 9px rgba(81, 88, 88, 0.1);
    background-position:left bottom;   
}

.shiftFlexCont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
    justify-content: center;
}

.ShiftListItem {
    margin-left: 20px;
    font-size: 80%;
}

.shiftListItemHeader {
    color: var(--secondary);
}

#shift-dialog-cnt {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}
#ShiftWrapper{
    height: 100%;
}

.postShiftBtn{
    background:#ffcc33;
    margin-left: 15px;
    font-weight: 600;
    color:var(--primary);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    float:right;
}

.postShiftBtn:hover{
    background: #e6b82e;
}