/*------------BUTTONS------------*/
.fadingButton {
    background: var(--primary);
    color: #ffb347;
    border: none;
    position: relative;
    height: 40px;
    font-size: 1.1em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.fadingButton:hover {
    background: var(--primary);
    color: #ffb347;
}

.fadingButton:before, .fadingButton:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #ffb347;
    transition: 400ms ease all;
}

.fadingButton:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.fadingButton:hover:before, .fadingButton:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.fadingButtonGrey {
    background: #f6f5f7;
    color: #212121;
    border: none;
    position: relative;
    height: 40px;
    font-size: 1.1em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.fadingButtonGrey:hover {
    background: #f6f5f7;
    color: #212121;
}

.fadingButtonGrey:before, .fadingButtonGrey:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #212121;
    transition: 400ms ease all;
}

.fadingButtonGrey:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.fadingButtonGrey:hover:before, .fadingButtonGrey:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.buttonType1{
  width: 80px;
  height: 25px;
  border-radius: 3px;
  background:#FFB347;
  border: 1px solid #DE9A3A;
  color:white;
  font-size: 12px;
  font-style: oblique;
  font-weight: bolder;

}
.buttonType1:hover{
  background-color:#DE9A3A;
}

.clearButton {
    height: 40px;
    background-color: transparent;
    border: none;
    color: var(--text);
    cursor: pointer;
    outline: none;
}

/*------------Input------------*/

.inputBox-1-normal {
    padding: 10px;
    border: none;
    transition: border-bottom .2s;
}

.inputBox-1-normal:hover {
    color: white;
    background-color: #212121;
    border-bottom: white solid 5px;
}

.inputBox-2-success {
    padding: 10px;
    border: none;
    transition: border-bottom .2s;
}

.inputBox-2-success:hover {
    color: white;
    background-color: #212121;
    border-bottom: #00e676 solid 5px;
}

.inputBox-3-error {
    line-height: 200%;
    padding: 10px;
    border: none;
    transition: border-bottom .2s;
}

.inputBox-3-error:hover {
    color: white;
    background-color: #212121;
    border-bottom: #e53935 solid 5px;
}
.blurry-text {
   color: rgba(60,60,60,0.2);
   text-shadow: 0 0 3px rgba(0,0,0,0.9);
}


/*---------------OTHER---------------*/
.hidden {
    display: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.flexRow {
    display: flex;
    flex-direction: row;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}

.coloredButton {
    margin-top: 35px;
    border-radius: 2px;
    border-bottom: 3px solid #fcc30f;
    width: 125px;
    padding: 10px 0;

    color: var(--secondary);
    font-size: 18px;
    font-weight: bolder;
    font-style: oblique;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    transition: transform 80ms ease-in;
}

.yellowBottomBordered {
    border: none;
    border-bottom: 2px solid #ffcc33;
}

.yellowBordered {
    border: 2px solid #ffcc33;
}

.cautionText {
    color: #ffcc33;
}

.failureText {
    color: red;
}

.clearColor {
    background-color: transparent;
    color: black
}

.shadow {
    box-shadow: #282c34;
}
.smallLineHeight {
    line-height: 16px;
}

.marginLess {
    margin: 0;
}

.inlineh3 {
    margin: 0;
}

.sub-header {
    font-weight: lighter;
    font-size: 1.3em;
    margin-bottom: 30px;
}

#scroll-wrap {
    /*margin-bottom: 100px;*/
    height: 100vh;
    background:var(--background);
}

#header-background {
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: -1;
    /*background: url("../background.png");*/
}
#headerSpacer{
    margin-bottom: 280px;
}
